<div id="aboutContainer" class="container">
    <span class="secTitle">About</span>

    <h2>Why Investing is important</h2>
    <p class="aboutContent">
        Investment help corporations raise finance that is much needed for development, taking over
        competitors, gaining technological prowess, and creating employment. These benefits of
        investment led Lloyd Blankfein, Goldman’s chief executive, to say, that he and his colleagues
        were “doing God’s work.” That is why teams of three students will spend the weekend pitching
        on why to buy and short stocks of their choosing at Drexel University. With this learning
        experience, however, the most important aspect of this stock pitch competition is the community
        it generates and skills that students will walk away with.
    </p>

    <h2>The Stock Pitch Madness Difference</h2>
    <p class="aboutContent">
        The goal of Stock Pitch Madness is to have 96 to 128 teams from across the country compete for
        cash prizes. Stock Pitch Madness requires teams of (3) students. Teams will apply for one out of
        the four sectors. The four sectors are: Consumer Retail, Energy, Healthcare, and Technology.
        The teams will then research two stocks within that sector finding one stock to buy and another
        stock to short. The competition will be utilizing the bracket system, which will be broken up into
        each sector for teams to compete. Stock Pitch Madness aims to provide business students with
        greater opportunities through competing, networking, and learning throughout the weekend. We
        hope to allow help students to engage with companies like no other stock pitch competition has
        done and most importantly to build a strong community of future business leaders.
    </p>
</div>