<div id="aboutContainer" class="container">
    <span class="secTitle">About</span>

    <h2 class="animation-element animate-Zoom">Why Investing is important</h2>
    <p class="aboutContent animation-element animate-Zoom">
        Investment helps corporations raise finance that is much needed for development, taking over competitors,
        gaining technological prowess, and creating employment. These benefits of investment led Lloyd Blankfein,
        Goldman’s chief executive, to say, that he and his colleagues were “doing God’s work.” That is why teams
        of students will spend the weekend pitching on why to buy and short stocks of their choosing at Drexel University.
        With this learning experience, the most important aspect of Stock Pitch Madness is the community it generates and skills
        that students will walk away with.
    </p>

    <h2 class="animation-element animate-Zoom">The Stock Pitch Madness Difference</h2>
    <p class="aboutContent animation-element animate-Zoom">
        The goal of Stock Pitch Madness is to have 96 to 128 teams from across the country to compete for cash prizes.
        Teams of (3) students will apply for one out of the four sectors which are:
        <b>Consumer Retail, Energy, Healthcare, and Technology. </b>
        Teams will then research two stocks within that sector finding one stock to buy and one stock to
        short. The competition will be utilizing the bracket system, which will be broken up into each sector for teams to
        compete. We hope to help engage students with top companies through our ChallengePost like no other stock pitch competition
        has done and most importantly to build a strong community of future business leaders.
    </p>
</div>