<span class="secTitle">ChallengePost</span>
<div class="container">
    <p class="animation-element animate-Zoom">
        The ChallengePost is where we post all our sponsor’s company challenges. This will be one of the most exciting
        opportunities that Stock Pitch Madness has to offer, because it gives students and sponsors the opportunity to really engage
        with one another. Our sponsors get to setup their own criteria on what sectors and stocks they would like students to pitch,
        but only sixteen teams will be accepted per ChallengePost. Please, understand that the ChallengePost is only a subset of
        Stock Pitch Madness, which means that you still have the opportunity to participate in Stock Pitch Madness through our own
        criteria on we have setup for the competition.
    </p>

    <h3>Challenges Coming Soon</h3>
</div>