<span class="secTitle">Challenge Post</span>
<div class="container">
    <p class="animation-element animate-Zoom">
        Our ChallengePost is one of the most exciting opportunities that Stock Pitch Madness has to offer.
    </p>
    <p class="animation-element animate-Zoom">
        The ChallengePost consists of company challenges where they set their own criteria on what sector and stocks they
        want students to pitch based on their companies need. This gives students and companies the opportunity to really engage
        with one another like no other stock pitch competition.
    </p>

    <h3>Challenges Coming Soon</h3>
</div>