<span class="secTitle">ChallengePost</span>
<div class="container">
    <p class="animation-element animate-Zoom">
        Our ChallengePost is one of the most exciting opportunities that Stock Pitch Madness has to offer.
    </p>
    <p class="animation-element animate-Zoom">
        The ChallengePost is where we post all our sponsor’s company challenges. They have the opportunity to set their own criteria
        on what sectors and stocks they want students to pitch. Only sixteen teams will be accepted per ChallengePost. This gives students
        and companies the opportunity to engage with one another like no other stock pitch competition.  Understand that the ChallengePost
        is a subset of Stock Pitch Madness, which means that you still have the opportunity to participate in Stock Pitch Madness through
        our own sectors and stocks that we have set criteria for.
    </p>

    <h3>Challenges Coming Soon</h3>
</div>