<span class="secTitle">ChallengePost</span>
<div class="container">
    <p class="animation-element animate-Zoom">
        The ChallengePost is where we post all our sponsor’s company challenges.  Our sponsors get to setup their own criteria on what sectors
        and stocks they would like students to pitch. There will only be sixteen teams accepted per ChallengePost, but the ChallengePost is only a
        subset of Stock Pitch Madness which means that you still have the opportunity to participate in Stock Pitch Madness through our main competition.
    </p>

    <h3>Challenges Coming Soon</h3>
</div>