<div class="container">

    <div class="row">

        <div class="col-sm-3">
            <img class="footerLogo" src="~/Content/images/Logo_200.png" />
            <a href="mailto:contact@spmdrexel.edu">contact@spmdrexel.edu</a>
        </div>



        <div class="col-sm-6" id="mapContainer">
            <div id="map"></div>
        </div>

        <div class="col-sm-3">
            <img id="lebowLogo" class="footerLogo" src="~/Content/images/lebowLogo.jpg" />
        </div>

    </div>
</div>