@{
    ViewBag.Title = "Stock Pitch Madness";
}


<div id="homeImage" class="bigImg">
    <img id="homeLogo" src="~/Content/images/logoTmp.jpg" />
</div>

<div class="sec" id="about">
    <span class="secTitle">About</span>
</div>

<div class="sec" id="speakers">
    <span class="secTitle">Speakers</span>
</div>



@section scripts {
    <script>
        var home = new Stock.Home();
        home.init();

    </script>

}