@{
    ViewBag.Title = "Home Page";
}

<div class="bigImg" id="pic1">
    <span id="title">
        Stock Pitch Madness
    </span>
</div>

<div class="other"> stuff</div>

<div class="bigImg" id="pic2"></div>

<div class="other">stuff again</div>

