@model List<StockPitchMadness.Models.Schedule>
<span class="secTitle">Schedule</span>


<div class="container-fluid">
    <div class="row schedule">
        @foreach (var schedule in Model)
        {
            <div class="col-md-6">
                <h2>@schedule.Date</h2>
                @foreach (var Event in schedule.Events)
                {
                    <div class="row vertAlign animation-element scheduleRow">
                        <div class="col-xs-5 time">
                            @Event.Time
                        </div>
                        <div class="col-xs-5 description">
                            @Event.Description
                        </div>
                        <div class="col-xs-2 location">
                            @Event.Location
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>

