@model StockPitchMadness.Models.Speaker

<div class="speaker animation-element animate-Zoom">
    <img class="speakerImage" src="~/Content/images/speakers/@Model.Image" />
    <div class="speakerText">
        <h2 class="speakerName">@Model.Name</h2>
        <h3 class="speakerSubtitle">@Model.Title</h3>
    </div>
</div>