@model List<StockPitchMadness.Models.Speaker>

<span class="secTitle">Speakers</span>

<div class="container">
    <div class="row">
        @foreach (var speaker in Model)
        {
            <div class="col-lg-offset-1 col-lg-5 col-sm-12 speakerCol" >
                @Html.Partial("SpeakerPartial", speaker)
            </div>
        }
    </div>
</div>