@model List<string>

<span class="secTitle">Sponsors</span>
<div class="container" id="sponsorsHead">
    <p class="animation-element animate-Zoom" id="sponsorsInfo1">
        Stock Pitch Madness will provide a different experience like no other stock pitch competition has before. Working with Stock Pitch Madness
        as a sponsor gives you access to the nation’s most talented business students.  Here are some levels of how sponsors can get involved:
    </p>
    <h3 class="animation-element animate-Zoom">General Sponsorship</h3>

    <p class="animation-element animate-Zoom">
        Information for corporate sponsors can be found on our <a href="" target="_blank">Sponsorship Document</a>.
    </p>
    <h3 class="animation-element animate-Zoom">Sponsorship Guide</h3>

    <p class="animation-element animate-Zoom">
        Please view our <a href="" target="_blank">Sponsorship Guide</a> so that you can find ways to get the most out of sponsoring Stock Pitch Madness.
    </p>
    <p class="animation-element animate-Zoom">
        Reach out to Stock Pitch Madness sponsorship team at <a href="mailto:sponsor@spmdrexel.com">sponsor@spmdrexel.com</a>
    </p>
</div>




<div class="container">
    <h1>Sponsors Coming Soon</h1>
    @*
    <div class="row">
        @foreach (var sponsorPic in Model)
        {
            <div class="col-lg-6 sponsor animation-element animate-Zoom">
                <img src="~/Content/images/sponsors/@sponsorPic" />
            </div>
        }
    </div>
    *@
</div>