@model List<string>

<span class="secTitle">Sponsors</span>
<div class="container" id="sponsorsHead">
    <p id="sponsorsInfo1">
        Stock Pitch Madness will provide a different experience like no other stock pitch competition has before. Working with Stock Pitch Madness
        as a sponsor gives you access to the nation’s most talented business students.  Here are some levels of how sponsors can get involved:
    </p>
    <h3>General Sponsorship</h3>

    Information for corporate sponsors can be found on our <a href="" target="_blank">Sponsorship Document</a>.

    <h3>Sponsorship Guide</h3>

    Please view our <a href="" target="_blank">Sponsorship Guide</a> so that you can find ways to get the most out of sponsoring Stock Pitch Madness.

    Reach out to Stock Pitch Madness sponsorship team at <a href="mailto:sponsor@spmdrexel.com">sponsor@spmdrexel.com</a>

</div>




<div class="container">
    <h1>Sponsors Coming Soon</h1>
    @*
        <div class="row">
            @foreach (var sponsorPic in Model)
            {
                <div class="col-lg-6 sponsor">
                    <img src="~/Content/images/sponsors/@sponsorPic" />
                </div>
            }
        </div>
    *@
</div>