@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Italic;
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@darkBlue: #14294f;
@yellow: #f7c811;
@lightBlue: #28519c;
@gray: #818387;
@white: #fff;

.Montserrat-Bold {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: normal;
}

.Montserrat-SemiBold {
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
}

.Montserrat-Medium {
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: normal;
}

.Roboto-Bold {
    font-family: Roboto-Bold;
    font-style: normal;
    font-weight: normal;
}

.Robot-BoldItalic {
    font-family: Roboto-BoldItalic;
    font-style: normal;
    font-weight: normal;
}

.Roboto-Italic {
    font-family: Roboto-Italic;
    font-style: normal;
    font-weight: normal;
}

.Roboto-Regular {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
}






body, html {
    height: 100%;
}

.body-content {
    height: 100%;
    padding: 0;
}


.navbar {
    background-color: @darkBlue;
    border: 0;

    .nav-link {
        color: #fff !important;
        transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        text-align: right;
        .Montserrat-SemiBold;
        font-size: 1.1em;

        &:hover {
            color: @yellow !important;
            background-color: #0D1A33 !important;
        }
    }

    .navbar-brand {
        height: auto;
        width: auto;
        margin: 0;
        position: absolute;
        padding: 0;
        z-index: 100;
    }

    #brandLinkContainer {
        display: inline-block;
        width: 130px;
        margin-left: 50px;
    }

    #brandLink {
        cursor: pointer;
    }
}


.bigImg {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeImage {
    background-image: url('images/BackgroundImage1080.png');
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    #homeLogo {
        display: inline-block;
        position: relative;
        height: 160px;
    }

    #subTitle {
        display: block;
        font-size: 1.6em;
        .Montserrat-SemiBold;
        color: #fff;
        width: 350px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #date {
        color: #fff;
        font-size: 1.5em;
        .Montserrat-Medium;
    }

    #applyBtn {
        margin-top: 40px;
    }
}

.btn {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    color: #000;
    background-color: @white;
    cursor: pointer;
    transition: 0.5s;
    .Montserrat-Bold;
    font-size: 1.3em;

    &:hover {
        color: #000;
        -webkit-box-shadow: 6px 6px 29px 3px rgba(0,0,0,0.47);
        -moz-box-shadow: 6px 6px 29px 3px rgba(0,0,0,0.47);
        box-shadow: 6px 6px 29px 3px rgba(0,0,0,0.47);
    }
}


#about {
    background-color: @white;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #aboutContent {
        width: 60%;
        display: inline-block;
        text-align: justify;
        color: #000;
        font-size: 1.5em;
    }
}

#speakers {
    background-color: @yellow;

    .speaker {
        display: flex;
        align-items: center;
        padding-bottom: 30px;

        .speakerImage {
            margin-left: 90px;
            height: 120px;
            position: relative;
        }

        .speakerText {
            display: inline-block;
            text-align: left;
            margin-left: 30px;
            color: #000;

            .speakerName {
                .Roboto-Bold;
            }

            .speakerSubtitle {
                margin-top: 0;
                .Roboto-Italic;
            }
        }
    }
}

#schedule {
    background-color: @lightBlue;
    color: @white;
    text-align: center;

    .secTitle {
        color: #fff;
    }

    .schedule {
        margin-bottom: 20px;
    }

    h2 {
        text-align: left;
        padding-left: 135px; //TODO: Fix left align
        .Robot-BoldItalic;
        margin-bottom: 30px;
    }

    .vertAlign {
        display: flex;
        align-content: center;
    }

    .time {
        text-align: right;
        font-size: 1.5em;
        .Roboto-Bold;
    }

    .description {
        text-align: left;
        font-size: 1.3em;
        .Roboto-Regular;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}



#sponsors {
    background-color: @white;

    .sponsor {
        margin-bottom: 20px;

        img {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
            transition: all ease-in-out 0.3s;

            &:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
        }
    }
}

#faq {
    background-color: @lightBlue;
    color: @white;
    transition: all 1s;

    .secTitle {
        color: #fff;
    }

    .questionTxt {
        display: block;
        text-align: left;
        font-size: 1.6em;
        .Roboto-Bold;
    }

    .answerTxt {
        display: block;
        text-align: left;
        font-size: 1.4em;
        padding-right: 50px;
        .Roboto-Regular;
    }

    .questionContainer {
        margin-bottom: 50px;
    }
}

#contact {
    background-color: @white;

    #map {
        width: 60%;
        height: 400px;
        display: inline-block;
    }
}


.sec {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .Roboto-Regular;

    .secTitle {
        color: #000;
        display: block;
        font-size: 2.5em;
        margin-bottom: 20px;
        .Montserrat-SemiBold;
    }
}
