body,
html {
  height: 100%;
}
.body-content {
  height: 100%;
}
.navbar {
  display: none;
}
.navbar .nav-link {
  font-size: 1.3em;
  color: #fff !important;
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .nav-link:hover {
  color: #10acbb !important;
  background-color: #000000 !important;
}
.navbar .navbar-brand {
  width: 130px;
  position: absolute;
  padding: 0;
}
.navbar #brandLinkContainer {
  display: inline-block;
  width: 130px;
  margin-left: 50px;
}
.bigImg {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#homeImage {
  background-image: url('images/blur.JPG');
  height: 100%;
}
#homeImage #homeLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 200px;
}
#about {
  background-color: #10acbb;
  height: 500px;
}
#speakers {
  height: 900px;
  background-color: #808080;
}
.sec {
  text-align: center;
}
.sec .secTitle {
  display: inline-block;
  font-size: 2em;
  color: #fff;
  margin-top: 100px;
}