@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Italic;
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
.Montserrat-Bold {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: normal;
}
.Montserrat-SemiBold {
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: normal;
}
.Montserrat-Medium {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
}
.Roboto-Bold {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
}
.Robot-BoldItalic {
  font-family: Roboto-BoldItalic;
  font-style: normal;
  font-weight: normal;
}
.Roboto-Italic {
  font-family: Roboto-Italic;
  font-style: normal;
  font-weight: normal;
}
.Roboto-Regular {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
}
body,
html {
  height: 100%;
}
.body-content {
  height: 100%;
  padding: 0;
}
.navbar {
  background-color: #14294f;
  border: 0;
}
.navbar .nav-link {
  color: #fff !important;
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  text-align: right;
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}
.navbar .nav-link:hover {
  color: #f7c811 !important;
  background-color: #0D1A33 !important;
}
.navbar .navbar-brand {
  height: auto;
  width: auto;
  margin: 0;
  position: absolute;
  padding: 0;
  z-index: 100;
}
.navbar #brandLinkContainer {
  display: inline-block;
  width: 130px;
  margin-left: 50px;
}
.navbar #brandLink {
  cursor: pointer;
}
.bigImg {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#homeImage {
  background-image: url('images/BackgroundImageFull.png');
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#homeImage #homeLogo {
  display: inline-block;
  position: relative;
  height: 160px;
}
#homeImage #subTitle {
  display: block;
  font-size: 1.6em;
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#homeImage #date {
  color: #fff;
  font-size: 1.5em;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: normal;
}
#homeImage #applyBtn {
  margin-top: 40px;
}
.btn {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
}
.btn:hover {
  color: #000;
  -webkit-box-shadow: 6px 6px 29px 3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 6px 6px 29px 3px rgba(0, 0, 0, 0.47);
  box-shadow: 6px 6px 29px 3px rgba(0, 0, 0, 0.47);
}
#about {
  background-color: #fff;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about #aboutContent {
  width: 60%;
  display: inline-block;
  text-align: justify;
  color: #000;
  font-size: 1.5em;
}
#speakers {
  background-color: #f7c811;
}
#speakers .speaker {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
#speakers .speaker .speakerImage {
  margin-left: 90px;
  height: 120px;
  position: relative;
}
#speakers .speaker .speakerText {
  display: inline-block;
  text-align: left;
  margin-left: 30px;
  color: #000;
}
#speakers .speaker .speakerText .speakerName {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
}
#speakers .speaker .speakerText .speakerSubtitle {
  margin-top: 0;
  font-family: Roboto-Italic;
  font-style: normal;
  font-weight: normal;
}
#schedule {
  background-color: #28519c;
  color: #fff;
  text-align: center;
}
#schedule .secTitle {
  color: #fff;
}
#schedule .schedule {
  margin-bottom: 20px;
}
#schedule h2 {
  text-align: left;
  padding-left: 135px;
  font-family: Roboto-BoldItalic;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
}
#schedule .vertAlign {
  display: flex;
  align-content: center;
}
#schedule .time {
  text-align: right;
  font-size: 1.5em;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
}
#schedule .description {
  text-align: left;
  font-size: 1.3em;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#sponsors {
  background-color: #fff;
}
#sponsors .sponsor {
  margin-bottom: 20px;
}
#sponsors .sponsor img {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  transition: all ease-in-out 0.3s;
}
#sponsors .sponsor img:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#faq {
  background-color: #28519c;
  color: #fff;
  transition: all 1s;
}
#faq .secTitle {
  color: #fff;
}
#faq .questionTxt {
  display: block;
  text-align: left;
  font-size: 1.6em;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
}
#faq .answerTxt {
  display: block;
  text-align: left;
  font-size: 1.4em;
  padding-right: 50px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
}
#faq .questionContainer {
  margin-bottom: 50px;
}
#contact {
  background-color: #fff;
}
#contact #map {
  width: 60%;
  height: 400px;
  display: inline-block;
}
.sec {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
}
.sec .secTitle {
  color: #000;
  display: block;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: normal;
}